# ==============================================================================
# Git改行コード制御
# ==============================================================================

*         text = auto
*.txt     text
*.vcproj  text eol = crlf
*.sh      text eol = lf
*.jpg     -text
